
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Add New Category Page</h2>
<br />

<form method="post" class="form-group">
    <input type="text" placeholder="Category Name" class="form-control" name="CategoryName"/>
    <input type="text" placeholder="Description" class="form-control" name="CategoryDescription"/>
    <br />
    <button class="btn btn-dark">Save</button>
</form>